.rosso{
  background-color: brown;
  height: 100px;
}

.blu{
  background-color: blue;
  height: 100px;
  border: 2px solid white;
}

.giallo{
  background-color: yellow;
}

.viola{
  background-color: blueviolet;
}

.paddingtanto{
  padding-top: 40px;
  padding-bottom: 40px;
}

.paddingpoco{
  padding-top: 10px;
  padding-bottom: 10px;
}

header, #prefoot{
  background-color: #3A546D;
}

.acqua{
  background-color: #1ABC9C;
}

footer{
  background-color: #2C3E50;
}