.rosso{
  background-color: brown;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.H100{
  min-height: 100PX;
}

.h300{
  min-height: 300px;
}

.w60{
  width: 60%;
  margin: 0 auto;
}

h1{
  font-size: 45px;
}

h3{
  font-size: 35px;
}

.stella-line{
  padding: 2px;
  background-color: white;
  width: 20%;
  border-radius: 5px;
}

.stella-line.black{
  background-color: #2C3E50;
}

.stella-svg{
  margin: 0 10px;
  color: white;
}

.stella-svg.black{
  color: #2C3E50;
}

.paddingtanto{
  padding-top: 40px;
  padding-bottom: 40px;
}

.paddingpoco{
  padding-top: 10px;
  padding-bottom: 10px;
}


/*HEADER*/

header{
  height: 80px;
  color: white;
}
header nav{
  height: 100%;
}
header nav .row{
  height: 100%;
}

li{
  list-style: none;
  display: inline;
  margin: 0 10px;
}

ol{
  margin: 0px 0px;
}

.logo{
  font-size: 30px;
  font-weight: 500;
}

/*JUMBOTRON*/

#avatar{
  max-width: 220px;
}

/*PORTFOLIO*/

.card, .card img{
  height: 100%;
}

.card{
  border: none !important;
}

.card img{
  border-radius: 30px;
}

/*CONTACT*/

#send{
  background-color: #1ABC9C;
  color: white;
  border: none;
}

.sotto{
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}

/*FOOTER*/

footer{
  color: white;
}

footer li{
  border-radius: 80px;
  border: 1px solid white;
  padding: 10px;
  height: 100px;
  width: 100px;
}

#startnow{
  color: #1ABC9C;
  text-decoration: none;
}

#download {
  color: white;
  background-color: transparent;
  border-color: white;
}

.grigio{
  background-color: #2C3E50;
  color: white;
}

.prefoot{
  background-color: #3A546D;
}

.acqua{
  background-color: #1ABC9C;
  color: white;
}

.rosa{
  background-color: #BA4B63;
}

.az{
  background-color: #1EA4B6;
}

.nero{
  background-color: #140F0F;
}

.bluc{
  background-color: #1C83C1;
}

.blu{
  background-color: #0E38B5;
}

.nocciola{
  background-color: #CCB2A3;
}